<table>
	<tr>
    <th>Name</th>
    <th>Id</th>
	</tr>
	<% @company_search_results.each do |company_result| %>
		<tr>
	    <td><%= company_result.name %></td>
			<td><%= company_result.id %></td>
			<td><a href="/companies/new?lid=<%= company_result.id %>">Choose</a></td>
		</tr>
	<% end %>
</table>